* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-space: 350px;
  --square-space: 300px;
  --side-padding: 0 200px;
  --border: 2px dashed black;
}

/*HEADER*/
header {
  display: flex;
  align-items: center;
  padding: var(--side-padding);
  /*DEBUG*/
  height: 100px;
  background-color: rgb(173 216 230);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /*DEBUG*/
  background-color: rgb(218 165 32);
}

.wrapper > div {
  flex-grow: 1;
  /*DEBUG*/
  border: var(--border);
  background-color: rgb(218 165 32);
}

.logo-header {
  text-align: left;
}

.link-header {
  text-align: center;
}

.login-header {
  text-align: right;
}

/*SECTION1*/
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 300px;
  /*DEBUG*/
  background-color: rgb(0 0 139);
  height: var(--main-space);
}

.rec-sec-1 {
  /*DEBUG*/
  height: var(--square-space);
  flex-grow: 1;
  background-color: rgb(238 130 238);
  border: var(--border);
}

/*SECTION2*/
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--side-padding);
  /*DEBUG*/
  background-color: white;
  height: var(--main-space);
}

.rec-sec-2-1,
.rec-sec-2-2 {
  height: var(--square-space);
  flex-grow: 1;
  /*DEBUG*/
  border: var(--border);
}

.rec-sec-2-1 {
  width: 20%;
  /*DEBUG*/
  background-color: rgb(30 144 255);
}

.rec-sec-2-2 {
  /*DEBUG*/
  background-color: rgb(255 192 203);
}
